{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Para Tudo</title>
</head>

<body class="bg-white">
    {% include 'partials/_header.html' %}
    <div class="pt-40 container max-w-5xl mx-auto m-8">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
          Confirmação de compra
        </h1>
        
        <div class="w-full mb-4">
          <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>

        <div class="flex align-items justify-center">
            <div class="w-5/6 sm:w-1/2 p-6">
                <h3 id = "middle" class="text-3xl text-gray-800 font-bold leading-none mb-3">
                    O item que irá comprar é {{product.name}}
                </h3>
                <p class="text-gray-600 mb-8">
                O vendedor do produto é {{ product.product_owner }} e está vendendo o produto por 
                R${{ product.price }}.
            </div>
            <img class="w-1/4 h-1/5" src="{{product.photo.url}}" alt="Foto do produto">
        </div>

        <div class="flex justify-center align-items">
            <a style="background: #006eb5;" class="flex justify-center align-items text-white rounded-md p-4" href="{% url 'confirmed_purchase' product.id user.id %}">Finalizar compra</a>
            <a style="background: #006eb5;" class="flex justify-center align-items text-white rounded-md p-4 ml-2" href="{% url 'cancel_purchase' product.id %}">Cancelar Compra</a>
        </div>
    </div>
</body>
</html>

