<div class="row">
    <div class="col-12">
    <p>Todos os campos são obrigatórios</p>
        <div class="contact-form-area">
            <form action="{% url 'create_product' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <label for="product_name"><b>nome</b></label>
                        <input type="text" id="product_name" class="form-control" name="product_name" placeholder="Ex. Televisão" required>
                    </div>
                    <div class="col-12">
                        <label for="file"><b>Descrição</b></label>
                        <textarea class="form-control" name="description" cols="30" rows="10" placeholder="Ex. Tevelisão LG Full HD" required></textarea>
                    </div>
                    <div class="col-12">
                        <label for="file"><b>Preço</b></label>
                        <input type="number" class="form-control" name="price" placeholder="Ex. 1000" required>
                    </div>
                    <div class="col-12 col-lg-3">
                        <label for="file"><b>Resumo do produto</b></label>
                        <textarea class="form-control" name="product_resume" cols="30" rows="10" placeholder="Ex. Tevelisão massa" required></textarea>
                    </div>
                    <div class="col-12 col-lg-3">
                        <label for="file"><b>Comentário 1</b></label>
                        <input type="text" class="form-control" name="comment1" placeholder="Ex. Tv incrível" required>
                    </div>
                    <div class="col-12 col-lg-3">
                        <label for="file"><b>Comentário 2</b></label>
                        <input type="text" class="form-control" name="comment2" placeholder="Ex. Várias informações sobre o produto" required>
                    </div>
                    <div class="col-12 col-lg-3">
                        <label for="file"><b>Informações do produto</b></label>
                        <input type="text" class="form-control" name="product_information" required>
                    </div>
                    <div class="col-12 col-lg-3">
                        <label for="file"><b>Razões para comprar(Limite 10)</b></label>
                        
                        <input type="button" onclick="AddInput()" value="Clique Aqui" />
                        <div id="divForm">

                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <label for="file"><b>Foto do produto</b></label>
                        <input type="file" class="form-control" name="photo" required>
                    </div>
                    <div class="col-12 text-center">
                        <button class="btn delicious-btn mt-30" type="submit">Criar seu produto</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var CountProds = 1;
    function AddInput() {
        if(CountProds < 10){
            h = CountProds;
            var form = document.getElementById("divForm");
            var input = document.createElement("INPUT");
            var div = document.createElement("div");
            
            input.setAttribute("type", "text");
            input.setAttribute("id", "reasons_to_buy" + h);
            input.setAttribute("name", "reasons_to_buy" + h);
            input.setAttribute("required", "");
        
            div.setAttribute("id", "ref" + h);
            div.setAttribute("name", "ref" + h);
        
            form.appendChild(div)
            div.appendChild(input);
            CountProds++;
        }
    }

    

    // window.onbeforeunload = function() {
    //     sessionStorage.setItem("product_name", $('#product_name').val());
    //     sessionStorage.setItem("description", $('#inputdescription').val());
    //     sessionStorage.setItem("product_resume", $('#inputproduct_resume').val());
    //     sessionStorage.setItem("subject", $('#inputSubject').val());
    //     sessionStorage.setItem("comment1", $('#inputcomment1').val());
    //     sessionStorage.setItem("comment2", $('#inputcomment2').val());
    //     sessionStorage.setItem("product_information", $('#inputproduct_information').val());
    //     sessionStorage.setItem("photo", $('#inputphoto').val());
    //     sessionStorage.setItem("teste", 123);
    // }

    window.onload = function() {

        
        // var teste = localStorage.getItem("teste");
        // if (teste !== null) 
        //  $('#teste').val("teste");

        // var product_name = localStorage.getItem("product_name");
        // if (product_name !== null) 
        //  $('#product_name').val("product_name");
        
        // var description = localStorage.getItem("product_description");
        // if (description !== null) $('#inputdescription').val("description");

        // var product_resume = localStorage.getItem("product_product_resume");
        // if (product_resume !== null) $('#inputproduct_resume').val("product_resume");
        
        // var subject = localStorage.getItem("product_subject");
        // if (subject !== null) $('#inputsubject').val("subject");

        // var comment1 = localStorage.getItem("product_comment1");
        // if (comment1 !== null) $('#inputcomment1').val("comment1");

        // var comment2 = localStorage.getItem("product_comment2");
        // if (comment2 !== null) $('#inputcomment2').val("comment2");
        
        // var product_information = localStorage.getItem("product_product_information");
        // if (product_information !== null) $('#inputproduct_information').val("product_information");

        // var photo = localStorage.getItem("product_photo");
        // if (photo !== null) $('#inputphoto').val("photo");
    }
</script>
