<div class="row">
    <div class="col-12">
    <p>Todos os campos são obrigatórios</p>
        <div class="contact-form-area">
            <form action="{% url 'update_product' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" id="product_id" class="form-control" name="product_id" value="{{product.id}}" hidden>
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <label for="product_name"><b>Nome {{ product.id }}</b></label>
                        <input type="text" id="product_name" class="form-control" name="product_name" value="{{ product.name }}" placeholder="Ex. Televisão">
                    </div>
                    <div class="col-12">
                        <label for="file"><b>Descrição</b></label>
                        <textarea class="form-control" name="description" cols="30" rows="10" placeholder="Ex. Tevelisão LG Full HD">{{ product.description }}</textarea>
                    </div>
                    <div class="col-12">
                        <label for="file"><b>Preço</b></label>
                        <input type="number" class="form-control" name="price" value="{{ product.price }}" placeholder="Ex. 1000">
                    </div>
                    <div class="col-12 col-lg-3">
                        <label for="file"><b>Resumo do produto</b></label>
                        <textarea class="form-control" name="product_resume" cols="30" rows="10" value="" placeholder="Ex. Tevelisão massa">{{ product.product_resume }}</textarea>
                    </div>
                    <div class="col-12 col-lg-3">
                        <label for="file"><b>Comentário 1</b></label>
                        <input type="text" class="form-control" name="comment1" value="{{ product.comment1 }}" placeholder="Ex. Tv incrível">
                    </div>
                    <div class="col-12 col-lg-3">
                        <label for="file"><b>Comentário 2</b></label>
                        <input type="text" class="form-control" name="comment2" value="{{ product.comment2 }}" placeholder="Ex. Várias informações sobre o produto">
                    </div>
                    <div class="col-12 col-lg-3">
                        <label for="file"><b>Informações do produto</b></label>
                        <input type="text" class="form-control" name="product_information" value="{{ product.product_informations }}">
                    </div>
                    <div class="col-12 col-lg-3">
                        <label for="file"><b>Razões para comprar(Limite 10)</b></label>
                        
                        <input type="button" onclick="AddInput()" value="Clique Aqui" />
                        <div id="divForm">

                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <label for="file"><b>Foto utilizada</b></label>
                        <img src="{{ product.photo.url }}" alt="">
                    </div>
                    <div class="col-12 col-lg-3">
                        <label for="file"><b>Foto do produto</b></label>
                        <input type="file" class="form-control" name="photo">
                    </div>
                    <div class="col-12 text-center">
                        <button class="btn delicious-btn mt-30" type="submit">Atualizar informações</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var CountProds = 1;
    function AddInput() {
        if(CountProds < 10){
            h = CountProds;
            var form = document.getElementById("divForm");
            var input = document.createElement("INPUT");
            var div = document.createElement("div");
            
            input.setAttribute("type", "text");
            input.setAttribute("id", "reasons_to_buy" + h);
            input.setAttribute("name", "reasons_to_buy" + h);
            input.setAttribute("required", "");
        
            div.setAttribute("id", "ref" + h);
            div.setAttribute("name", "ref" + h);
        
            form.appendChild(div)
            div.appendChild(input);
            CountProds++;
        }
    }
</script>