{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link rel="stylesheet" href="{% static 'css/product_page.css' %}">
</head>

{% include 'partials/_header.html' %}

<body>
    <section >
        
        <div style="display: flex;" class="container mt-16">
          <div>
            <a type="button" style="background: #006eb5; border-radius: 4px; display: flex; flex-direction: row; justify-content: center; align-items: center; width: 150px; padding: 4px 16px; color: white; font-style: italic;" href="http://localhost:8000/">Página principal</a>
          </div>
          <div class="col-3 text--center">
            <img src="{{ product.photo.url }}" alt="Foto do produto" class="details-img--ball" />
          </div>
          <div class="col-7 details">
            {% if user.is_authenticated %}
            <h1>Bom dia, {{ user.username }}</h1>
            {% else %}
            <h1>Bom dia, convidado</h1>
            {% endif %}
            <h3 class="m-0">{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p>Quem está vendendo esse produto é o usuário {{ product.product_owner }}.</p>
            <p>Quantidade disponível: {{ product.quantity }}</p>
          </div>
          {% if user.id == product.product_owner.id %}
          <div>
            <a type="button" style="background: #006eb5; border-radius: 4px; display: flex; flex-direction: row; justify-content: center; align-items: center; width: 150px; padding: 4px 16px; color: white; font-style: italic;" href="{% url 'edit_product' product.id %}">Editar produto</a>
          </div>
          {% endif %}
        </div>
      </section>

      <header class="bg-image">
        <div class="container">
          <h1>{{ product.product_resume }}</h1>
          <h2>{{ product.comment1 }}</h2>
          
          <a style="min-width: 165.75px; max-width: 218.35; margin-right: 4px;" href="{% url 'buy_product' product.id 1%}" class="btn btn-transparent">Compre agora</a>
          <!-- Mensagem que precisa está logado para colocar no carrinho, solução provisória -->
          {% if user.is_authenticated %}
          <a href="{% url 'add_cart' product.id user.id %}" class="btn btn-transparent">Adicionar carrinho</a>
          {% endif %}
          <h2 class="m-0">Por apenas R${{ product.price }}</h2>
          <div class="flex justify-center items-center mt-2 ">
            {% include 'partials/_alerts.html' %}
          </div>
        </div>
      </header>
      
      <section class="section--primary--alt">
        <div class="container">
          <h3>{{ product.comment2 }}</h3>
          <p class="flex items-align justify-center">{{ product.product_informations }}</p>
        </div>
      </section>
      
      <section class="section--primary--alt bg-image bg-image-2">
        <div class="container text--center">
          <h3>Razões para comprar esse produto</h3>
          <div class="col-5 text--left">
            <ul>    
              <li>{{ formatted_reasons.0 }}</li>
              <li>{{ formatted_reasons.1 }}</li>
              <li>{{ formatted_reasons.2 }}</li>
              <li>{{ formatted_reasons.3 }}</li>
              <li>{{ formatted_reasons.4 }}</li>
            </ul>
          </div>
          <div class="col-5 text--left">
            <ul>
              <li>{{ formatted_reasons.5 }}</li>
              <li>{{ formatted_reasons.6 }}</li>
              <li>{{ formatted_reasons.7 }}</li>
              <li>{{ formatted_reasons.8 }}</li>
              <li>{{ formatted_reasons.9 }}</li>
            </ul>
          </div>
        </div>
      </section>
      
      <section class="text--center bg-gray-200">
        <div class="container">
          <h3>Porque ainda está lendo?</h3>
          <a href="{% url 'buy_product' product.id 1%}" class="btn">Compre agora!</a>
        </div>
      </section>
      
      {% include 'partials/_footer.html' %}
</body>
</html>



