{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    Loja para tudo
  </title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" />
  <!--Replace with your tailwind.css once created-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">
  <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
  <style>
    .gradient {
      background: linear-gradient(90deg, #093ce4 0%, #002d578c 100%);
    }
  </style>
</head>

<body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
  <!--Nav-->
  {% include 'partials/_header.html' %}
  <!--Hero-->
  <div class="pt-24">
    <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
      <!--Left Col-->
      <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
        <p class="uppercase tracking-loose w-full">Quer comprar alguma coisa?</p>
        <h1 class="my-4 text-5xl font-bold leading-tight">
          Venha aqui para tudo, que para tudo e te entrega algo!
        </h1>
        <p class="leading-normal text-2xl mb-8">
          MarketPlace, tipo a amazon, só que menor.
        </p>
        <button style="z-index: 5;"
          class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
          onClick="document.getElementById('up_products_list').scrollIntoView()">
          Lista de produto
        </button>
        <!-- <div style="position: relative;" class="w-full md:w-3/5 py-6 text-center">
            <img style="width: 300px; height: 400px; position: absolute; left: 50%; top: 50%;" class="w-full md:w-4/5 z-50" src="{% static 'photos/photo_landing_page.png' %}" />
          </div> -->
      </div>

    </div>
  </div>
  <div id="up_products_list" class="relative -mt-12 lg:-mt-24">
    <svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-2.000000, 44.000000)" fill="#FFFFFF" fill-rule="nonzero">
          <path
            d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
            opacity="0.100000001"></path>
          <path
            d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
            opacity="0.100000001"></path>
          <path
            d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
            id="Path-4" opacity="0.200000003"></path>
        </g>
        <g transform="translate(-4.000000, 76.000000)" fill="#FFFFFF" fill-rule="nonzero">
          <path
            d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z">
          </path>
        </g>
      </g>
    </svg>
  </div>

  <section>
    <div class="w-full container mx-auto flex flex-wrap items-center justify-center mt-0 py-2">
      <div class="grid grid-cols-2 gap-4 xl:grid-cols-4 justify-center">
        {% for product in products %}
        <div style="background:#fafafa; border-radius: 8px; padding-bottom: 8px;">
          <img style="border-radius: 8px 8px 0 0;" class="w-full h-60" src="{{ product.photo.url }}" alt="" />
          <div style="min-height: 80px;" class="flex justify-between items-center p-3">
            <a class="text-xl text-gray-500" href="product-page/{{ product.id }}">{{ product.name }}</a>
            <span class="text-xl text-gray-500 font-semibold">R${{ product.price }}</span>
          </div>
          <div class="w-full flex justify-center items-center px-3">
            <a style="background: #093ce4; border-radius: 4px; appearance: button; text-decoration: none; justify-content: center; align-items: center;"
              href="product-page/{{ product.id }}" class="flex p-2 w-full text-white-400 font-semibold">Visualizar</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    </div>

    <div>
      {% if products.has_other_pages %}
      <ul class="flex justify-center mt-4">
        {% if products.has_previous %}
        <li>
          <a href="?page={{ products.previous_page_number }}" class="page-link">&laquo;</a>
        </li>
        {% else %}
        <li class="text-gray-800">
          <a class="page-link">&laquo;</a>
        </li>
        {% endif %}

        {% for page in products.paginator.page_range %}
        {% if products.number == page %}
        <li class="text-gray-800 mx-1">
          <a class="page-link">{{ page }}</a>
        </li>
        {% else %}
        <li class="text-white mx-1">
          <a href="?page={{page}}" class="page-link">{{ page }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if products.has_next %}
        <li class="">
          <a href="?page= {{ products.next_page_number }}" class="page-link">&raquo;</a>
        </li>
        {% else %}
        <li class="text-gray-800">
          <a class="page-link">&raquo;</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </section>

  {% include 'partials/_footer.html' %}
  <!-- jQuery if you need it
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  -->
  <script>
    var scrollpos = window.scrollY;
    var header = document.getElementById("header");
    var navcontent = document.getElementById("nav-content");
    var brandname = document.getElementById("brandname");
    var toToggle = document.querySelectorAll(".toggleColour");

    document.addEventListener("scroll", function () {
      /*Apply classes for slide in bar*/
      scrollpos = window.scrollY;

      if (scrollpos > 10) {
        header.classList.add("bg-white");
        //Use to switch toggleColour colours
        for (var i = 0; i < toToggle.length; i++) {
          toToggle[i].classList.add("text-gray-800");
          toToggle[i].classList.remove("text-white");
        }
        header.classList.add("shadow");
        navcontent.classList.remove("bg-gray-100");
        navcontent.classList.add("bg-white");
      } else {
        header.classList.remove("bg-white");
        //Use to switch toggleColour colours
        for (var i = 0; i < toToggle.length; i++) {
          toToggle[i].classList.add("text-white");
          toToggle[i].classList.remove("text-gray-800");
        }

        header.classList.remove("shadow");
        navcontent.classList.remove("bg-white");
        navcontent.classList.add("bg-gray-100");
      }
    });
  </script>
  <script>
    /*Toggle dropdown list*/
    /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

    var navMenuDiv = document.getElementById("nav-content");
    var navMenu = document.getElementById("nav-toggle");

    document.onclick = check;
    function check(e) {
      var target = (e && e.target) || (event && event.srcElement);

      //Nav Menu
      if (!checkParent(target, navMenuDiv)) {
        // click NOT on the menu
        if (checkParent(target, navMenu)) {
          // click on the link
          if (navMenuDiv.classList.contains("hidden")) {
            navMenuDiv.classList.remove("hidden");
          } else {
            navMenuDiv.classList.add("hidden");
          }
        } else {
          // click both outside link and outside menu, hide menu
          navMenuDiv.classList.add("hidden");
        }
      }
    }
    function checkParent(t, elm) {
      while (t.parentNode) {
        if (t == elm) {
          return true;
        }
        t = t.parentNode;
      }
      return false;
    }
  </script>
</body>

</html>